* {
  box-sizing: border-box;
}

body {
  background-color: #343434;
  color: #afcc9c;
  text-align: center;
}

.grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 424px;
}

img {
  border: 3px solid white;
}

.card-back:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.btn {
  background-color: #b99ccc;
  border: none;
  width: 100px;
  padding: 15px 32px;
  margin: 0 15px;
}

.btn:hover {
  background-color: #cfb7df;
  cursor: pointer;
}
